

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;

    }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  background: paleturquoise;
}
button,
input {
  *overflow: visible;
  line-height: normal;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

#page-wrap { 
  width: 548px; 
  margin: 40px auto;
}

#inputbox{
  width: 320px;
  height: 480px;
  padding-top: 30px;
}

#red {

  border-radius: 20px;
  border-style: outset;
  border-width: 5px;
  border-color: #CCFFCC;
  margin: 0;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140;
  height: 196;
  background-color: #e92319;
  float: left;
  
}

#yellow {

  border-radius: 20px;
  border-style: outset;
  border-width: 5px;
  border-color: #CCFFCC;
  margin: 0;
  margin-top: 30px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140;
  height: 196;
  background-color: #FFCC00;
  float: left;
  position: relative;

}

#purple {

  border-radius: 20px;
  border-style: outset;
  border-width: 5px;
  border-color: #CCFFCC;
  margin: 0;
  margin-top: 30px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140;
  height: 196;
  background-color: #660066;
  float: left;
  position: relative;

}

#debug {

        margin-top: 30;
        padding-left: 20;
        padding-top: 15;
        padding-bottom: 13;
        padding-right: 20;
        float: left;
        position: relative;
        background: gray;
        color: white;
        width: 338px;
}

    #command {
        margin-top: 5px;
        margin-bottom: 5px;
    }


    #idphoto {
  
        float: left;
        padding-left: 30;
        padding-top: 30;
     
    }






